.heading-container {
    background-image: url(../images/letter-press.jpg);
    background-size: cover;
}

.title {
    font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 7em;
    color: #fff;
    padding: 20px;
}

.subtitle {
    font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    color: #fff;
    padding-bottom: 30px;
}

.basic-paragraph {
    font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.start-game {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 500px) {
    .title {
        font-size: 5em;
    }
}
